# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Environment
.env

# IDE
.vscode/
.idea/

# Test
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
